* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/bg.jpg);
    background-size: contain;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.nav {
    width: 100%;
    height: 780px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.nav div {
    position: absolute;
    top: 50px;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* 設定動畫週期 */
.nav div {
    -webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }

    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }

    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }

    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }

    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

/* 每張圖片進場時間相隔 */
.nav div:nth-child(5) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.nav div:nth-child(4) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.nav div:nth-child(3) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.nav div:nth-child(2) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

.nav div:nth-child(1) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}
/* 當滑鼠移到圖片上時，暫停播放動畫 */
.nav:hover div {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
/* ------------------------------------------- */

.menu{
    width: 100%;
    height: 50px;
    background:linear-gradient(to top,orange 40%,yellow);
    position: fixed;
    top: 0px;
    text-align: center;
}
.menu ul{
 text-decoration: none;
 margin-top: 12px;
 display: flex;
 justify-content: space-around;
}
.menu li{
    text-decoration: none;
    display: inline;
}
.menu a{
    font-size: 20px;
    font-weight: bold;
}
.menu a:hover{
    color: white;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    background-color: rgb(255, 255, 255,0.7);
    border: 5px ridge rgb(255, 187, 0);
    border-radius: 10px;
    margin-bottom: 50px;
}
.video .content{
    padding: 50px;
    line-height: 150%;
    font-size: 20px;
}
h2{
    width: 300px;
    height: 80px;
    padding-top: 15px;
    text-align: center;
    background:linear-gradient(to top,orange 40%,yellow);
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 5px ridge rgb(252, 252, 252);
}
.news{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255,0.7);
    padding: 20px;
    border: 5px ridge rgb(252, 252, 252);
    border-radius: 10px;
    margin-bottom: 50px;
    line-height: 150%;
}
.news-item{
    width: 33%;
}
.news-item img{
    width: 100%;
}

.news-item h3{
    padding-top: 5px;
    margin-bottom: 5px;
}

.member{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(9, 57, 109, 0.7);
    border: 5px ridge rgb(252, 252, 252);
    border-radius: 10px;
    margin-bottom: 50px;
    color: white;
    padding: 20px;
}
.member-item{
    width: 24%;
    border: 5px inset rgb(255, 204, 0);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    line-height: 150%;
}
.member-item img{
    width: 100%;
}
.member-item h3{
    text-align: center;
    margin-bottom: 5px;
}

.footer{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 0px 5px black;
    background: linear-gradient(to right,rgb(64, 230, 147),rgb(119, 219, 169), rgb(64, 230, 147));
}
.media{
    width: 100%;
    padding: 50px;
    background-color: white;
    text-align: center;
}